:root{
    --from:#e61c27;
    --to:#2ea3d4;
    --follow:#f5b511;
}

.sort-nav{
    background-color: #333333;
    box-shadow: #0000003d 0 5px 10px;
    width:100vw;
    overflow:none;
    height:8vh;
    color:white;
    font-weight:bold;
    display:flex;
    gap:2em;
}

.sort-board{
    height:50vh;
    width:80vw;
    position:relative;
    left:50%;
    margin-top:8vh;
    /* top:50%; */
    transform:translateX(-50%);
    background-color:black;
    /* overflow:hidden; */
}

.sort-item{
    display:inline-flex;
    margin-left:0.2%;
    outline:0.5px solid white;
    background:rgb(50, 50, 50);
}

.sort-visited{
    animation-name:colour_switch;
    animation-duration:0.75s;
    animation-timing-function: ease-in-out;
    background-color:var(--follow)
}

@keyframes colour_switch{
    0%   { background-color: var(--follow); border-radius:50%;}
    20%  { background-color: var(--from); border-radius:50%;}
    100% { background-color:var(--to); border-radius:1%; transform:rotate(0);};
}

.sort-setting-utils {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
}

.slider > form > label, form {
    display:block;
    justify-content:center;
}

label {
    position:relative;
    left:50%;
    width:fit-content;
    transform:translateX(-50%);
}
input[type="range"]{
    -webkit-appearance:none;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--from);
    height: 5px;
}
   
input[type="range"]::-moz-range-track {
    background: var(--from);
    height: 5px;
}
   
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background: pink;
    /* margin-top: -.5rem; */
    border-radius: 50%;
   }
   
   input[type="range"]::-moz-range-thumb {
    /* height: 15px; */
    /* width: 15px; */
    background: pink;
    /* margin-top: -5px; */
    /* border-radius: 50%; */
   }
   

.stop-sort{
    width:3rem;
}