.sort-nav{
    background-color: #287DEB;
    box-shadow: #0000003d 0 5px 10px;
    width:100vw;
    overflow:none;
    height:8vh;
    color:white;
    font-weight:bold;
    display:flex;
    gap:2em;
}