:root{
    --primary:#287DEB;
    --target:#AD87DE;
    --from:#e61c27;
    --to:#2ea3d4;
    --follow:#f5b511;
    --test:#03997E;
}
.pathfinder{
    height:100vh;
}
.pathfinder-nav{
    background-color: var(--primary);
    box-shadow: #0000003d 0 5px 10px;
    width:100vw;
    overflow:none;
    height:8vh;
    color:white;
    font-weight:bold;
    display:flex;
    gap:2em;
}
.pathfind-dropdown{
    width:fit-content;
}
.pathfind-btn{
    text-align:center;
    background:none;
    border:none;
    color:white;
    text-decoration:none;
    width:8em;
    height:fit-content;
    position:relative;
    top:50%;
    transform:translateY(-50%);
    height:4vh;
}
.pathfind-btn:hover{
    color:rgba(255, 255, 255, 0.86);
    cursor:pointer;
}
.pathfind-content{
    position:absolute;
}
.pathfind-content > div{
    float:none;
    display:block;
    text-align:left;
    padding:0.75em;
    width:6.5em;
    background:var(--primary);
    border-bottom:0.5px solid white;
    position:relative;
    z-index:1
}
.pathfind-content > div:hover{
    cursor:pointer;
    filter:brightness(0.95);
    color:rgba(255, 255, 255, 0.86);

}

.pathfind-board{
    position:relative;
    display:grid;
    justify-content:center;
    top:22.5%;
    transform:translateY(-25%);
}
.nodeRow{
    display:inline-flex;
    padding:0;
}
.node{
    width:2vw;
    height:2vw;
    border:0.5px solid var(--primary);
    user-select:none;
}

.node:hover{
    outline:2px solid var(--primary);
    border-radius:0.25em;
    /* cursor:grab; */
    cursor: url(https://cur.cursors-4u.net/others/oth-7/oth697.cur), auto !important;
}
.node:active{
    cursor:grabbing
}


.start{
    background-color:var(--follow)
}

.target{
    background-image: linear-gradient(to bottom right,#AD87DE,white 160%);
}

.visited{
    animation-name:colour_switch;
    animation-duration:0.75s;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: infinite; */
    background-color:var(--to);
    border:0.5px solid var(--to)
}

@keyframes colour_switch{
    0%   { background-color: var(--follow); border-radius:50%; transform:rotate(30deg)}
    20%  { background-color: var(--from); border-radius:50%; transform:rotate(30deg)}
    100% { background-color:var(--to); border-radius:1%; transform:rotate(0);};
}

.short-path{
    animation-name:short_colour_switch;
    animation-duration:0.1s;
    animation-timing-function: ease-in-out;
    background-color:var(--follow);
    border:0.5px solid var(--follow)
}

@keyframes short_colour_switch{
    from { background-color: var(--follow)}
    to   { background-color: var(--follow)}
}

.wall{
    animation-name:wall;
    animation-duration:0.35s;
    animation-timing-function: ease-in-out;
    background-color:var(--test);
    border:0.5px solid var(--test)
}

@keyframes wall{
    5%{ background-color: var(--follow); border-radius:50%}
    20%{ background-color: var(--from)}
    100%{ background-color: var(--test)}
}

.algo-stats{
    height:1.5em;
    width:70vw;
    font-weight:500;
    font-size:1.45vw;
    gap:0.25em;
    word-spacing:0.07em;
}
.step-stat, .algo-stats > p{
    margin:0;
}
.step-stat{
    font-weight:bold;
}