.pathfinder{
    height:60vh;
}
.pathfind-board{
    /* height:fit-content; */
    /* width:fit-content; */
    position:relative;
    display:grid;
    justify-content:center;
    justify-items:center;
    /* align-items:flex; */
    top:50%;
    gap:0px;
}
.nodeRow{
    /* border:1px solid red; */
    display:inline-flex;
    padding:0;
}
.node{
    height:2.5vw;
    width:2.5vw;
    border:0.5px solid #287DEB;
}

