:root{
    --primary:#287DEB;
    --target:#AD87DE;
    --from:#e61c27;
    --to:#2ea3d4;
    --follow:#f5b511;
    --test:#03997E;
}
.pathfinder{
    height:100vh;
}
.pathfinder-nav{
    background-color: var(--primary);
    box-shadow: #0000003d 0 5px 10px;
    width:100vw;
    overflow:none;
    height:10vh;
    color:white;
    font-weight:bold;
}

.pathfind-board{
    position:relative;
    display:grid;
    justify-content:center;
    top:25%;
    transform:translateY(-25%);
}
.nodeRow{
    display:inline-flex;
    padding:0;
}
.node{
    width:2vw;
    height:2vw;
    border:0.5px solid var(--primary);
    user-select:none;
}

.node:hover{
    outline:2px solid var(--primary);
    border-radius:0.25em;
}


.start{
    background-color:var(--follow)
}

.target{
    background-image: linear-gradient(to bottom right,#AD87DE,white 160%);
}

.visited{
    animation-name:colour_switch;
    animation-duration:0.75s;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: infinite; */
    background-color:var(--to);
    border:0.5px solid var(--to)
}

@keyframes colour_switch{
    0% { background-color: var(--follow); border-radius:50%; transform:rotate(90deg)}
    20% { background-color: var(--from); border-radius:50%; transform:rotate(90deg)}
    100% { background-color:var(--to); border-radius:1%; transform:rotate(0);};
}

.short-path{
    animation-name:short_colour_switch;
    animation-duration:0.35s;
    animation-timing-function: ease-in-out;
    background-color:var(--follow);
    border:0.5px solid var(--follow)
}

@keyframes short_colour_switch{
    /* from { background-color: var(--from) } */
    /* from { background-color: white} */
    from { background-color: var(--follow) }
    to { background-color: var(--follow); border:0.5px solid var(--follow)}
}

.wall{
    animation-name:wall;
    animation-duration:0.35s;
    animation-timing-function: ease-in-out;
    background-color:var(--test);
    border:0.5px solid var(--test)
}

@keyframes wall{
    5%{ background-color: var(--follow); border-radius:50%}
    20%{ background-color: var(--from)}
    100%{ background-color: var(--test)}
}